<f:layout name="Backend" />
<f:section name="Content">
	<f:if condition="{file}">
		<f:then>
			<f:form action="save"
					arguments="{file: file.uid}"
					id="editor-form-save">
				<f:form.hidden name="content" id="editor-source" />
			</f:form>
			<div id="editor"></div>
			<textarea id="content" data-type="{file.properties.extension}"><f:format.raw>{content}</f:format.raw></textarea>
		</f:then>
		<f:else>
			<div class="alert alert-info">File not found!</div>
		</f:else>
	</f:if>
</f:section>
