<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="Content">
	<h1>Files from folder: {folder.identifier}</h1>
	<f:flashMessages />

	<div class="panel panel-default">
		<div class="panel-heading">File filter</div>
		<div class="panel-body">
			<f:form class="form-inline">
				<div class="form-group">
					<label for="file-type">File extension</label>
					<f:form.select name="type"
								   id="file-type"
								   class="form-control"
								   options="{types.items}"
								   value="{types.selected}"
								   prependOptionValue=""
								   prependOptionLabel="all" />
				</div>
				<div class="form-group">
					<f:form.checkbox id="recursive" name="recursive" value="1" checked="{recursive}" />
					<label for="recursive">read folders recursive</label>
				</div>
				<f:form.submit value="Filter" class="btn btn-default" />
			</f:form>
		</div>
	</div>

	<f:if condition="{f:count(subject: files)} > 0">
		<f:then>
			<table cellpadding="0" cellspacing="0" class="t3-table table table-modules table-striped table-hover">
				<thead>
				<tr>
					<th>Filename</th>
					<th>Modification</th>
					<th>Size</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{files}" as="file">
					<tr>
						<td>
							<f:link.action action="edit"
										   arguments="{file: file.uid}"
										   title="edit">{file.properties.identifier}</f:link.action>
						</td>
						<td><f:format.date format="Y-m-d H:i:s">{file.properties.modification_date}</f:format.date></td>
						<td><f:format.bytes>{file.properties.size}</f:format.bytes></td>
						<td>
							<f:link.action action="edit"
										   arguments="{file: file.uid}"
										   class="btn btn-default"
										   title="edit"><core:icon identifier="actions-page-open"/></f:link.action>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<div class="alert alert-info">No files found!</div>
		</f:else>
	</f:if>

	<div class="alert alert-info">
		<h2 style="margin-top: 0">Hints</h2>
		<p>Press right mouse button <i>open link in new tab</i> for open multiple editors.</p>
		<p>While editing press <i>CTRL + S</i> for saving the current file.</p>
		<p>The ACE editor can only edit file types, which are included in the <i>[SYS][textfile_ext]</i>. If you need additional file types, just add the required file extension in install tool.</p>
	</div>

</f:section>
